#grafic {
    margin: auto;
    position: absolute;
    width: calc(min(100vw / 320, 100vh / 200) * 320);
    image-rendering: pixelated;
}

body {
    background: var(--bs-black);
    margin: 0;
    min-height: 100vh;
    font-family: "Lucida Console";
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fps-display {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.btn-start {
    font-size: 30px;
    --foreground-color: blue;
    --background-color: white;
    box-shadow: rgba(128, 128, 128, .7) 10px 10px 5px;
    width: 100%;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

    .btn-start:hover {
        box-shadow: rgba(64, 64, 64, .7) 15px 15px 10px;
    }

.btn {
    color: var(--foreground-color);
    border-width: 1px;
    border-color: var(--foreground-color);
    border-radius: 10px;
    background: var(--background-color);
    --transition-delay: .1s;
    display: inline-block;
    transition: color linear var(--transition-delay), border linear var(--transition-delay), background linear var(--transition-delay), box-shadow linear var(--transition-delay), margin linear var(--transition-delay), opacity linear .5s, transform linear var(--transition-delay);
    padding: 0.25rem 1rem 0.25rem 1rem;
}

    .btn:hover {
        color: var(--background-color);
        border-color: var(--foreground-color);
        background: var(--foreground-color);
        cursor: pointer;
    }

#start-menu {
    z-index: 2000;
    background: white;
    box-shadow: rgb(151, 151, 151, 0.70) 20px -15px 10px;
    opacity: .6;
    transition: background linear .2s, box-shadow linear .2s, opacity linear .5s;
    border-radius: 10px;
}

    #start-menu:hover {
        opacity: 1;
        box-shadow: rgb(151, 151, 151, 0.70) 27px -17px 10px;
    }

body[state="game"] #start-menu, body[state="game"] #start-menu * {
    opacity: 0;
    cursor: default;
}

.blur, .blur * {
    filter: blur(4px);
}

.help {
    padding: 1rem;
    font-weight: bold;
    cursor: text;
    display: flex;
}

    .help > div p {
        padding: 0 2rem 0 2rem;
    }

    .help strong {
        padding: 0 1rem 0 1rem;
        display: block;
        width: 100%;
        text-align: left;
    }

    .help > div:not(:first-child) {
        border-left: 1px solid black;
    }
