#grafic {
    margin: auto;
    position: absolute;
    width: calc(min(100vw / 320, 100vh / 200) * 320);
    image-rendering: pixelated;
}

body {
    background: var(--bs-black);
    margin: 0;
    min-height: 100vh;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fps-display {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.btn-start {
    font-size: 30px;
    --foreground-color: blue;
    --background-color: white;
    box-shadow: rgba(128, 128, 128, .7) 10px 10px 5px;
    width: 15rem;
}

    .btn-start:hover {
        box-shadow: rgba(64, 64, 64, .7) 15px 15px 10px;
        transform: scale(1.1);
    }

.btn {
    color: var(--foreground-color);
    border-width: 1px;
    border-color: var(--foreground-color);
    border-radius: 4px;
    background: var(--background-color);
    --transition-delay: .1s;
    display: inline-block;
    transition: color linear var(--transition-delay), border linear var(--transition-delay), background linear var(--transition-delay), box-shadow linear var(--transition-delay), margin linear var(--transition-delay), opacity linear .5s, transform linear var(--transition-delay);
    padding: 0.25rem 1rem 0.25rem 1rem;
}

    .btn:hover {
        color: var(--background-color);
        border-color: var(--foreground-color);
        background: var(--foreground-color);
        cursor: pointer;
    }

#start-menu {
    z-index: 2000;
}

.blur, .blur * {
    filter: blur(4px);
}

body[state="home"] #grafic {
    /*filter: blur(1px);*/
}

body[state="game"] .btn-start {
    opacity: 0;
    cursor: default;
}

.help {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .5rem .5rem .5rem 2rem;
    font-family: "Lucida Console";
    max-width: 25%;
    line-height: 7px;
    font-weight: 600;
    background: rgba(255, 255, 255, .6);
    box-shadow: rgb(151, 151, 151, 0.70) 20px -15px 10px;
    border-radius: 5px;
    transition: background linear .2s, box-shadow linear .2s, opacity linear .5s;
    cursor: text;
}

    .help:hover {
        background: rgba(255, 255, 255, 1);
        box-shadow: rgb(151, 151, 151, 0.70) 27px -17px 10px;
    }
    body[state="game"] .help {
        opacity: 0;
        cursor: default;
    }

    .help p {
        padding: 0 1rem 0 1rem;
    }
